*{
    margin:0;
    color:lightblue;
}



body{
    background: #373B44;
    background: linear-gradient(30deg, rgba(55, 59, 68, 1) 0%, rgba(66, 134, 244, 1) 100%);
    min-width: 350px;
    
}

   
   
:root{
 --sm-padding:10px;
 --sm-margin:1rem;
 --sm-font:1rem;

 --xsml-padding:5px;

}
.date h2, .time h2{
    font-family: monospace;
    font-size: 1rem;
}
.logo img{
    width: 50px;
}
.header-container{
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
       flex-wrap: wrap;
        color: white;
        padding:var(--sm-padding);
        border-bottom: 1px solid white;;
}

.search-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search-bar input{
    padding: var(--xsml-padding);
    font-size: var(--sm-font);
   width: 80%;
    min-width: 200px;
    color:black;
    border-radius: 0.5rem;
    outline: none;
    border:none;
    color:rgb(47, 46, 46);
    font-weight: 400;
    border:1px solid rgb(11, 11, 59);
    background-color: rgba(212, 230, 236, 0.954);
    
}
.search-bar input:focus{
    border:1px solid rgb(255, 255, 255);
    transform: scaleY(1.08);
}
.logo{
  display: flex;
  justify-content: space-around;
    align-items: center;
}
.logo h1{
    display: inline;
}

.search-bar{
  
  margin:auto;
  width: 80%;
   
    margin-top:var(--sm-margin);
}
.search-bar button{
    padding:var(--xsml-padding);
    font-size: var(--sm-font);
    color:black;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
   border:2px solid transparent;

}
.search-bar button:hover{
    background-color: rgba(66, 134, 244, 1);
    color:white;
    border:2px solid blue;
}
.search-option{
   
    min-width: 100px;
    margin:var(--sm-margin);
    display: flex;
    justify-content: space-evenly;
}



.search-option i{
     font-size: 30px;
}
.current-weather img{
width: 100px;
}
.current-weather h4{
    font-weight: lighter;
    font-family: monospace;
    font-size: small;
    margin-bottom: 10px;
}
#city{
    font-size: xx-large;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#weather{
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
   
}
#country{
    position: relative;
    bottom: 10px;
}
.current-weather p{
    font-size: 0.8rem;
    font-family: monospace;
    margin-top: var(--sm-margin);
}
.weather-update-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1rem;
    margin:2rem;
    border:1px solid gray;
    border-radius: 20px;
    padding:1rem;
    background: #373B44;
    background: linear-gradient(30deg, rgba(55, 59, 68, 1) 0%, rgb(88, 144, 235, 1) 100% );
}
.tm{
    display: flex;
    justify-content: space-around;
}
.details > div{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    font-family: monospace;
    font-size: large;
    font-weight:100;
}
.weather-detail h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: var(--sm-margin);
    font-size: 2rem;

}
.details div{
    margin:var(--sm-margin)
}
.details h5{
    font-weight: lighter;
    text-align: left;
}
.details span{
    width: 100px;
    text-align: center;
}
#temp{
    font-size: 100px;
}

.week-update-container{
    display: flex;
gap:2.5rem;
flex-wrap: wrap; /* not usually used with column, but you can */
justify-content: center;  /* vertical alignment */
align-items: center; 
margin-top: 5rem;
padding:1rem;

   
}
.week-update-container .card{
    border:white 0.5px solid;
    padding:10px;
    text-align: center;
    background: #000428;
    background: linear-gradient(253deg, rgba(0, 4, 40, 0.6) 0%, rgba(0, 78, 146, 0.6) 100%);
    border-radius: 10px;
   width: 10%;
    max-width:250px;
    min-width: 200px;

    font-family: monospace;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;


    
    
}
.temp{
    font-size: 2rem;
 
    color:rgb(202, 228, 235);
  
    
}
.about-weather{
    font-size: 1rem;
    font-weight: lighter;
    
}
    

.week-update-container img{
    width: 70px;
}

.mode select{
    padding:0.3rem;
    color:black;
    border-radius: 10px;
    
}
.mode option{
    padding:1rem;
}



@media(max-width:700px){
    .weather-update-container{
        gap:3rem;
    }
    .current-weather{
        text-align: center;
    }
    .weather-detail{
        text-align: center;
    }
    #temp{
        font-size: 50px;
    }
    .mode{
        order:2;
    }
}
@media (max-width:740px){
    .search-bar{
        width: 100%;
        margin: 1rem;


    }
    .search-bar input{
        width: 60%;
        margin:auto;
    };
    .week-update-container{
        padding: 10px !important;
    }
    .card{
        width: 75%  !important;
       max-width: 350px !important;
      
    }

}
